.everything {
    margin-left: 50%;

}

.showDiv {
    width: 50%;
    height: 110px;
}

.skills {
    margin-left: 2%;
    width: 30%;
    height: 100px;
}

.button3 {
    background: #1ddced;
    padding: 5px 15px;
    font-size: 30px;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 4px;
    box-shadow: 0 3px 0 #0eb2c1;
    margin-left: 13%;
}

.button2 {
    background: #1ddced;
    padding: 5px 15px;
    font-size: 30px;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 4px;
    box-shadow: 0 3px 0 #0eb2c1;
}